* {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  margin: 0px auto;
  background-color: rgba(251, 250, 252, 0.9);
}

#projects {
  margin: 0px;
  width: 100%;
  padding: 6%;
}

#about {
  height: 100px;
}

#about, #contact {
  width: 100%;
  padding: 6%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}

#contact {
  float: left;
  padding-left: 0;
  height: 50px;
}

.content {
  padding-left: 10%;
}

.content a {
  text-transform: capitalize;
  color: #292C33;
  text-decoration: none;
}

.content a:hover {
  color: #252941;
}

.spotlight {
  display: block;
  float:left;
  width: 300px;
  margin: 2%;
  margin-bottom: 4%;
  margin-left: 50% auto;
  margin-right: 50% auto;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

img {
  border-radius: 5px 5px 0px 0px;
  opacity: .8;
  transition: .5s ease;
  background-color: white;
}

img:hover {
  opacity: 1;
}

.spotlight:hover {
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: .5s ease;
}

h1 {
  color: rgba(0, 0, 0, 0.9);
}

#contact h1 {
  text-align: center;
}

#projects h1 {
  display: block;
  left: 60px;
}

#about img {
  float: left;
}
